.logo-default img{height: unset !important;
    width: 12rem !important;
}
.logo-dark img{height: unset !important;
     width: 12rem !important;
    }
    #mainMenu nav ul li a{
        color: #fff !important;
    }
    #btn-search i{
        color: #fff !important;
    }
    .icon-globe{
        color: #fff !important;
    }
    .p-dropdown span{
        color: #fff !important;
    }