/* nav bar */
.logo-default img {
    height: unset !important;
    width: 12rem !important;

}

.logo-dark img {
    height: unset !important;
    width: 12rem !important;
}

#mainMenu nav ul li a {
    color: #fff;
}

#btn-search i {
    color: #fff;
}

.icon-globe {
    color: #fff;
}

.p-dropdown .icon-globe {
    color: #fff;
}

.p-dropdown span {
    color: #fff;
}

.p-dropdown-content li {
    color: #000 !important;
}

/* the item in the navbar dropdown */
nav ul li ul li a {
    color: #000 !important;
}
/* ^ */